#frame work ignore 
/framework/mybatis/.metadata/
/framework/mybatis/RemoteSystemsTempFiles/
/framework/mybatis/Servers/
/framework/mybatis/.recommenders/
/framework/hibernate/.metadata/
/framework/spring/.metadata/
/framework/struts2.0/.metadata/

#test ignore
/test/.metadata/

#base ignore
/base/.metadata/