@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px; border:0px;}
body{ background:url(../page/img/bg.png) repeat-x;}
.center{ width:883px; height:464px; background:#c6d6ec; margin-left:235px; margin-top:66px; border:11px solid #e2e2e0;}
.head{ margin-left:150px; width:410px; height:53px; background:url(../page/img/login_head.png) no-repeat; margin-top:5px;}
.headPic{ margin-left:49px; margin-top:5px; width:790px; height:151px; background:url(../page/img/head_picture.png) no-repeat;}
.formContent{ margin-left:204px; margin-top:34px; width:482px; height:175px; background:url(../page/img/input_bg.png) no-repeat;}
.inputText{ margin-top:66px; margin-left:76px; width:202px; height:20px; } 
.inputPwd{ margin-left:76px; margin-top:17px; width:202px; height:20px;}
.inputBtn{ margin-left:11px; width:59px; height:25px; background:url(../page/img/go.png) no-repeat; font-size:12px; font-weight:bold; color:white;}
